<%= form_for @page do |f| %>
  <%= render "shared/error_messages", target: @page %>
  <fieldset>
    <ul>
      <li>
        <%= f.label :name, "Name" %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :content, "Content" %>
        <%= f.text_area :content, rows: "10" %>
      </li>
      <li>
        <label><%= f.check_box :published %>Publish this page?</label>
      </li>
    </ul>
  </fieldset>
  <p>
    <%= f.submit class: "btn btn-default" %>
  </p>
<% end %>
