<% title "Photos" %>

<% if @photos.present? && administrator? %>
  <div>
    <%= link_to 'New Photo', new_photo_path,
      class: "btn btn-default",
      role: "button"
    %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Published?</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td><%= image_tag photo.photo_url(:thumbnail) %></td>
          <td><%= photo.published? ? "Yes" : "No" %></td>
          <td>
            <%= link_to 'Edit Photo', edit_photo_path(photo),
              class: "btn btn-default",
              role: "button"
            %>
          </td>
          <td>
            <%= link_to 'Delete Photo', photo, data:
              { confirm: 'Are you sure you want to delete this photo?' },
              method: :delete,
              class: "btn btn-danger",
              role: "button"
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
