<%= form_for @enquiry, html: { role: "form", class: "form-horizontal" } do |f| %>
  <%= render "shared/error_messages", target: @enquiry %>
  <fieldset>
    <ul>
      <li>
        <%= f.label :type_of_work, "Details of Work Required" %>
        <%= f.text_area :type_of_work, rows: "10" %>
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>Contact Information</legend>
    <ul>
      <li>
        <%= f.label :first_name, "First Name (required)" %>
        <%= f.text_field :first_name %>
      </li>
      <li>
        <%= f.label :last_name, "Last Name (required)" %>
        <%= f.text_field :last_name %>
      </li>
      <li>
        <%= f.label :email_address, "Email Address (required)" %>
        <%= f.text_field :email_address %>
      </li>
      <li>
        <%= f.label :telephone, "Telephone" %>
        <%= f.text_field :telephone %>
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>Postal Address</legend>
    <ul>
      <li>
        <%= f.label :address_line_1, "Address Line 1" %>
        <%= f.text_field :address_line_1 %>
      </li>
      <li>
        <%= f.label :address_line_2, "Address Line 2" %>
        <%= f.text_field :address_line_2 %>
      </li>
      <li>
        <%= f.label :city, "City" %>
        <%= f.text_field :city %>
      </li>
      <li>
        <%= f.label :state, "State" %>
        <%= f.text_field :state %>
      </li>
      <li>
        <%= f.label :postal_code, "Postal Code" %>
        <%= f.text_field :postal_code %>
      </li>
    </ul>
  </fieldset>
  <p>
    <%= f.submit "Submit Enquiry" %>
  </p>
<% end %>
