<!DOCTYPE html>
<html>
  <head>
    <title>Tixi Renovations Melbourne | <%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: 'layouts/header' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <%= link_to image_tag("logo.jpg", id: "logo",
            alt: "Tixi Renovations Melbourne"), root_url %>
        </div>
        <div class="col-xs-8">
          <% if nav_pages %>
            <ul class="nav nav-tabs">
              <% nav_pages.each do |page| %>
                <li class="<%= 'active' if params[:id] == page.slug %>">
                  <%= link_to page.name, root_url + page.slug %>
                </li>
              <% end %>
              <li class="<%= 'active' if (params[:controller] == 'photos' &&
                params[:action] == 'gallery') %>">
                <%= link_to "Gallery", gallery_path %>
              </li>
              <li class="<%= 'active' if (params[:controller] == 'enquiries' &&
                params[:action] == 'new') %>">
                <%= link_to "Enquiry", new_enquiry_path %>
              </li>
            </ul>
          <% end %>
          <h2><%= yield(:title) %></h2>
          <%= render partial: 'layouts/flash_messages' %>
          <%= yield %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: 'layouts/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
