<%= form_for @photo_pair, html: { multipart: true, role: "form", class:
  "form-horizontal" } do |f| %>
  <%= render "shared/error_messages", target: @photo_pair %>
  <div class="form-group">
  	<%= f.label :before_photo, "Before Photo", class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= image_tag(@photo_pair.before_photo_url(:thumbnail)) if @photo_pair.before_photo? %>
      <%= f.file_field :before_photo, class: "form-control" %>
      <%= f.hidden_field :before_photo_cache %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :after_photo, "After Photo", class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= image_tag(@photo_pair.after_photo_url(:thumbnail)) if @photo_pair.after_photo? %>
      <%= f.file_field :after_photo, class: "form-control" %>
      <%= f.hidden_field :after_photo_cache %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :caption, "Caption", class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_area :caption, class: "form-control", rows: "5" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <div class="checkbox">
        <label><%= f.check_box :published %>Publish this photo?</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit class: "btn btn-default" %>
    </div>
  </div>
<% end %>
