<%= form_for @photo_pair, html: { multipart: true } do |f| %>
  <%= render "shared/error_messages", target: @photo_pair %>
  <fieldset>
    <ul>
      <li>
  	    <%= f.label :before_photo, "Before Photo" %>
        <%= image_tag(@photo_pair.before_photo_url(:thumbnail)) if @photo_pair.before_photo? %>
        <%= f.file_field :before_photo %>
        <%= f.hidden_field :before_photo_cache %>
      </li>
      <li>
        <%= f.label :after_photo, "After Photo" %>
        <%= image_tag(@photo_pair.after_photo_url(:thumbnail)) if @photo_pair.after_photo? %>
        <%= f.file_field :after_photo %>
        <%= f.hidden_field :after_photo_cache %>
      </li>
      <li>
        <label><%= f.check_box :published %>Publish this photo?</label>
      </li>
    </ul>
  </fieldset>
  <p>
    <%= f.submit %>
  </p>
<% end %>
