<% title "Gallery" %>

<% if @photo_pairs.present? %>
  <div id="carousel-example-generic" class="carousel slide"
    data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% count = 0 %>
      <% @photo_pairs.each do |photo_pair| %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= count %>"
          class="<%= "active" if count == 0 %>"></li>
        <% count += 1 %>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% count = 0 %>
      <% @photo_pairs.each do |photo_pair| %>
        <div class="item <%= "active" if count == 0 %>">
          <%= image_tag photo_pair.after_photo_url(:regular) %>
          <% if photo_pair.caption.present? %>
            <div class="carousel-caption">
              <p><%= photo_pair.caption %></p>
            </div>
          <% end %>
        </div>
        <% count += 1 %>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic"
      role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic"
      role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
<% end %>
